{% extends 'base.html' %}
{% block content %}

<h1>Hive Details</h1>

<div>
  <div>
    <div>
      <div>
        <span>{{ hive.title }}</span>
        <p>Location: {{ hive.location }}</p>
        <p>Description: {{ hive.description|linebreaks }}</p>
      </div>
      <div>
        <a href="{% url 'hives_update' hive.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'hives_delete' hive.id %}" class="btn btn-warning">Delete</a>
      </div>
    </div>
  </div>
  <div>
    <form action="{% url 'add_comment' hive.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn btn-warning" value="Comment">
    </form>
    <table>
      <thead>
        <tr><th>Date</th><th>Comment</th></tr>
      </thead>
      <tbody>
        {% for comment in hive.comment_set.all %}
          <tr>
            <td>{{comment.date}}</td>
            <td>{{comment.content}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
</script>

{% endblock %}