{% extends 'base.html' %}
{% block content %}
<section id="background">
    <div class="container-index">

      <div id="index-boxes">
      
        {% for hive in hives %}
        <div class="row p-3">     
          <div class="flip-card card p-3 col-3 col-md-2" id="index-card">
            <div class="flip-card-inner">
              <a href="{% url 'detail' hive.id %}" id="index-link">
              <div class="flip-card-front">
                
                  <h3 id="index-name" style="color: rgb(248, 190, 46)"><b>{{ hive.title|linebreaks }}</b></h3>
                  <p id="index-location"><u>{{ hive.location }}</u></p>
                  <hr><p id="index-desc">{{ hive.description|linebreaks }}</p>
               
              </div>
             
              <!-- <div class="flip-card-back">
        
                  <img class="responsive-img" src="{{photo.url}}" alt="Hive Photo">
                  
              </div> -->
              
            </a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
</section>


{% endblock %}