{% extends 'base.html' %}

{% block content %}
  {% if object %}
  <section class="container p-5" id="add-edit-form">
      <h1 class="text-center p-3">Edit <span style="color: rgb(248, 190, 46)">{{object.title}}</span></h1>
    {% else %}
      <h1 class="text-center p-3">Add <span style="color: rgb(248, 190, 46)">Event</span></h1>
    {% endif %}
    <form action="" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit!" class="btn btn-warning">
    </form>
  </section>
{% endblock %}