{% extends 'base.html' %}
{% block content %}
<div id="about-page">
    <section style="background-color: rgb(248, 214, 140);" class="text-center p-5 container">
        <h1>About <span style="color: rgb(248, 190, 46)">Apiary</span></h1>
        <br>
        <p class="lead text-center">We intend to bring together communities through recreational events. Our services provide users
            the ability to organize and explore public events. 
        </p>
        <a type="button" class="btn btn-warning" id="explore-button" href="{% url 'index' %}">Explore</a>
    </section>
</div>
{% endblock %}