@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Righteous&display=swap');* {
  box-sizing: border-box;
}

.nav-link:active {
  background-color: lightgrey!important;
}

.nav-link {
  font-size: 2rem;
}

#upload-hive {
  font-family: 'Montserrat';
}

#home-title {
  font-family: 'Montserrat';
  font-size: 3rem;
}

#about {
  font-family: 'Montserrat';
  font-size: 3rem;
}

#about-desc {
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

#explore-button {
  width: 75px;
  height: 35px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

#about-about {
  border-radius: 2rem;
}

#nav-left {
  display: flex;
  align-items: center;
}

#navs {
  text-decoration: none;
}
#navs:click {
  background-color: lightgray;
}
#nav-home {
  padding-left: 1rem;
}

#left-nav-menu {
  padding-right: 2rem;
  padding-left: 1rem;
}

.dropdown-item {
  font-size: 1.25rem;
}

#explore-button:hover {
  background-color: rgb(246, 212, 161);
}

#signup {
  padding: 8em!important;
  margin: auto;
  width: 50%;
  border: 3px solid grey;
}

#reg-back {
  background-color: rgb(248, 190, 46);
}

.card {
  width: 20rem;
  height: 15rem;
}

#index-boxes {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}



#index-card {
  border: 2px solid white;
  background-color: white;
  border-radius: 1.5rem;
  height: 200px;
  width: 250px;
}

#index-card:hover {
  background-color: lightgrey;
}

#index-name {
  font-family: 'Montserrat';
  font-size: 2rem;
}

#index-link {
  text-decoration: none;
  color: black;
}

#index-desc {
  color: light-grey;
  padding-top: 3rem;
  font-weight: lighter;
  font-size: 1.65rem;
}

#index-location {
  text-align:right;
  padding-right: 1rem;
  font-weight: lighter;
}

.container-detail {
  background-color: white;
  /* box-shadow: 5px; */
  border-radius: 1rem;
  height: 100%;
  padding: 3rem 3rem;
  margin: 3rem;
  display: flex;
  justify-content: space-between;
}

.detail-title {
  font-family: 'Montserrat';
}

#detail-content {
  border: 2px solid grey;
  border-radius: 2rem;
  width: 60%;
  display: flex;
  flex-flow: column wrap;
}

#detail-upper {
  display: flex;
  align-items: baseline;
}

#detail-head {
  padding: 1rem 5rem 0 5rem;
}

#detail-head-locat {
  font-weight: lighter;
}

#edit-del {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0 0 ;
}

#detail-del {
  margin-left: 0.5rem;
}

#like-content {
  display: flex;
  /* justify-content: flex-end;
  padding-left: 5rem; */
}

.icons-like:hover {
  background-color: lightgrey;
}

#detail-desc {
  font-size: 20px;
  font-weight: lighter;
  padding-top: 5rem;
  padding-left: 5rem;
}

.responsive-img {

}

#detail-photo {
  display: flex;
  flex-flow: row-wrap;
  padding-top: 1rem;
  padding-left: 7rem;
}

#detail-photo-do {
  align-self: flex-end;
  padding-left: 1rem;
}

#detail-comment-content {
  border: 2px solid grey;
  border-radius: 2rem;
  width: 35%;
  padding: 4rem 0 0 2rem;
}
#comment-like {
  padding: 0.5rem;
}

#background {
  background-color: rgb(237, 237, 237);
  height: 700px;
}

#add-edit-form {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

#confirm-delete-form {
  padding: 8em;
  margin: auto;
  width: 50%;
}

#confirm-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm-cancel {
  margin: 0.5rem;
}

#confirm-trash {
  padding: 0;
  border: none;
  background: none;
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.icons:hover {
  background-color: rgb(246, 212, 161);
}

.icons-confirm-cancel-delete:hover {
  background-color: lightsalmon;
}

#about-page {
  height: 700px;
}

#confirm-form {
  padding-left: 1rem;
  border: none;
  background: none;
}

#submit-comment {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#map {
  padding: 10em;
  margin: auto;
  width: 95%;
}

/* flipping animation */
/* .flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: black;
  color: black;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
} */
