* {
  box-sizing: border-box;
}

.nav-link:active {
  background-color: lightgrey!important;
}

#nav-left {
  display: flex;
  align-items: center;
}
#nav-home {
  padding-left: 1rem;
}

#explore-button:hover {
  background-color: rgb(246, 212, 161);
}

#signup {
  padding: 10em!important;
  margin: auto;
  width: 50%;
  border: 3px solid grey;
}

#reg-back {
  background-color: rgb(248, 190, 46);
}

.container {
  height: 100%!important;
  background-color: rgb(237, 237, 237);
}

.card {
  width: 20rem;
  height: 15rem;
}

#index-boxes {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* .container-index {
  background-color: rgb(237, 237, 237);
} */

#index-card {
  border: 2px solid white;
  background-color: white;
}

#index-card:hover {
  background-color: lightgrey;
}

#index-link {
  text-decoration: none;
  color: black;
}

#index-desc {
  color: light-grey;
  padding-top: 1rem;
  font-weight: lighter;
}

#index-location {
  text-align:right;
  padding-right: 1rem;
  font-weight: lighter;
}

.container-detail {
  background-color: white;
  box-shadow: 5px;
  border-radius: 1rem;
  height: 100%;
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
}

.container-index {
  /* background-color: white; */
  box-shadow: 5px;
  border-radius: 1rem;
  height: 100%;
  padding: 3rem 3rem;
  /* border: 2px solid grey;
  border-radius: 2rem; */
}

#detail-content {
  border: 2px solid grey;
  border-radius: 2rem;
  width: 60%;
  display: flex;
  flex-flow: column wrap;
}

#detail-upper {
  display: flex;
  align-items: baseline;
}

#detail-head {
  padding: 1rem 5rem 0 5rem;
}

#detail-head-locat {
  font-weight: lighter;
}

#edit-del {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0 0 ;
}

#detail-del {
  margin-left: 0.5rem;
}

#detail-desc {
  font-size: 20px;
  font-weight: lighter;
  padding-top: 5rem;
  padding-left: 5rem;
}

.responsive-img {

}

#detail-photo {
  display: flex;
  flex-flow: row-wrap;
  padding-top: 1rem;
  padding-left: 7rem;
}

#detail-photo-do {
  align-self: flex-end;
  padding-left: 1rem;
}

#detail-comment-content {
  border: 2px solid grey;
  border-radius: 2rem;
  width: 35%;
  padding: 4rem 0 0 2rem;
}

#background {
  height: 674px;
  background-color: rgb(248, 214, 140);
}

#add-edit-form {
  padding: 8em;
  margin: auto;
  width: 50%;
}

#confirm-delete-form {
  padding: 8em;
  margin: auto;
  width: 50%;
}

#confirm-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm-cancel {
  margin: 0.5rem;
}

#confirm-trash {
  padding: 0;
  border: none;
  background: none;
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.icons:hover {
  background-color: rgb(246, 212, 161);
}

.icons-confirm-cancel-delete:hover {
  background-color: lightsalmon;
}

#about-page {
  height: 700px;
}

#confirm-form {
  padding: 0;
  border: none;
  background: none;
}

#submit-comment {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

